<p>
  <b>Codigo html:</b>
  <%=h @openmapa.codigo_html %>
</p>

<p>
  <b>Municipio:</b>
  <%=h @openmapa.municipio_id %>
</p>


<%= link_to 'Edit', edit_openmapa_path(@openmapa) %> |
<%= link_to 'Back', openmapas_path %>